

@media(max-width :500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        width: 100%;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header{
        background-color: black;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        font-weight: 700;

    }
    .header a{
        text-decoration: none;
    }
    .logo {
        color: red; }
        .navbar {
            display: none;
        }
        .home{
            display: flex;
            width: 100vw;
            background-color: #0000000c;
        }
        .left{width: 50%;


padding: 10px;

        }
        .left p{
            font-size: 10px;
        }
        .left h1{
          font-size: 2px;
         
        }
        .left h3{
            font-size: 10px;
            
        }
        .left button{
              border: none;
              margin-top: 3px;
              padding: 5px 8px;
              border-radius: 5px;
              background-color: black;
              color: white;
        }

        .left button:hover{
            border: none;
            margin-top: 3px;
            padding: 5px 8px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.424);
            color: white;
            
        
    }
        .right{
            width: 50%;
            /* background-color: royalblue; */
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .right .p1{
         width: 150px;
         border-radius: 50%;

        
        }
        .left h1{
            font-size: 20px;

        }
        .about{
            height: 30%;
            display: flex;
            align-items: center;
            background-color: #0000000e;
        }
        .about img{
            width: 140px;
            border-radius: 50%;
            
        }
        .left2{
           width: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .right2{
          width: 50%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          
        }
    .right2 h2{
        font-size: 15px;
    }
    .right2 h3{
        font-size: 15px;
    }
    .right2 p{
        font-size: 10px;
    }

    .right2 a{
        text-decoration: none;
        color: #fff;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        background-color: green;
        border-radius: 10px;

    }
.right2 a:hover{
        text-decoration: none;
        color: #fff;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        background-color: rgba(0, 128, 0, 0.498);
        border-radius: 10px;
        color: #000;
        
    }
.container{
    display: flex;
   justify-content: center;
}
.left3{
display: flex;
flex-direction: column;
gap: 5px;

}
.left3 input{
    background-color: inherit;
    color: white;
    border: 1px solid black;
   
    }
    #right3 textarea{
        border: 1px solid black;
        background-color: inherit;
     color: white;
     height: 100px;
     width: 90%;

    }
.content-form{
    text-align: center;
    background-color: #0000002c;
    /* color change update */

}
#btn{
    background-color: white;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: orangered;
}
#btn:hover{
    background-color: rgba(255, 68, 0, 0.424);
    color: #fff;
}
.footer{
    background-color: #00000035;
}

.social{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.social a{
    background-color: transparent;
    border-radius: 50%;
    font-size: 30px;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}

.list li{
 list-style: none;
}

.list a{
    text-decoration: none;
    color: #000;
    
}

.footer .list a:hover {
  border-bottom: 1px solid aqua;
}


}


@media(min-width :700px) {
    * {
        padding: 0;
        margin: 0;
        font-family: 'poppins', sans-serif;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 35px 12%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    .logo {
        font-size: 25px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s ease;
    }
    
    .logo:hover {
        color: rgb(4, 255, 222);
        text-shadow: 0 0 25px rgb(0, 238, 255), 0 0 50px rgb(0, 238, 255);
        transform: scale(1.1);
    }
    
    span {
        color: rgb(4, 255, 222);
    }
    
    .navbar a {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        margin: 0 20px;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }
    
    .navbar a:hover,
    .navbar a.active {
        color: turquoise;
        border-bottom: 3px solid turquoise;
    }
    
    .contact {
        padding: 10px 28px;
        background-color: #fff;
        color: #000;
        border: 2px solid transparent;
        border-radius: 8px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 600;
        transition: 0.3s ease;
    }
    
    .contact:hover {
        background-color: rgb(4, 255, 222);
        box-shadow: 0 0 25px rgb(4, 255, 222);
        color: #fff;
    }
    
    .home {
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        display: flex;
        align-items: center;
        gap: 7em;
        padding: 30px 12% 0;
    }
    
    .home-content {
        max-height: 800px;
    }
    
    .home-content h3 {
        font-size: 42px;
    }
    
    .home-content h1 {
        font-size: 62px;
        line-height: 1.2;
    }
    
    .home-contentp {
        font-size: 18px;
        margin: 25px 0 30px;
    }
    
    .btn-box {
        width: 345px;
        display: flex;
        gap: 2em;
    }
    
    .btn-1 {
        padding: 15px 28px;
        background-color: #000;
        color: #fff;
        border: 2px solid transparent;
        border-radius: 8px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        transition: 0.3s ease;
        cursor: pointer;
        margin-top: 20px;
    
    }
    
    .btn-1:hover {
        background-color: rgb(4, 255, 222);
        color: #000;
        border: 2px solid black;
    }
    
    .img-box img {
        border-radius: 50%;
        width: 550px;
    }
    
    ::-webkit-scrollar {
        width: 15px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(4, 255, 222);
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.6);
        width: 50px;
    }
    
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12% 8%;
        gap: 10em;
        background: black;
    }
    
    .about-img img {
        position: relative;
        width: 550px;
        box-shadow: 0 0 25px rgb(4, 255, 222), 0 0 50px rgb(4, 255, 222);
        border-radius: 50%;
    }
    
    .about-content h2 {
        text-align: left;
        color: #fff;
        font-size: 42px;
    }
    
    .about-content h3 {
        font-size: 62px;
        color: #fff;
    }
    
    .about-content p {
        color: #fff;
        font-size: 20px;
        margin: 2em 0 3em;
    }
    
    .btn-2 {
        padding: 15px 28px;
        background-color: #fff;
        color: #000;
        border: 2px solid transparent;
        border-radius: 8px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        transition: 0.3s ease;
        cursor: pointer;
        margin-top: 20px;
    
    }
    
    .btn-2:hover {
        background-color: rgb(4, 255, 222);
        color: #000;
        border: 2px solid rosybrown;
    }

    .container {
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .content-form h2 {
        text-align: center;
        margin-top: 3em;
        margin-bottom: 1em;
        font-size: 36px;
    }
    
    .content-form .container {
        max-width: 50em;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 3em;
    }
    
    .content-form .container .input-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .content-form .container .input-box input,
    .content-form .container textarea {
        width: 100%;
        padding: 1.5em;
        font-size: 18px;
        color: black;
        background-color: rgb(241, 241, 241);
        border-radius: .8rem;
        margin: 1rem 0;
        resize: none;
    }

    #btn{
        width: 140px;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 80px;
        margin-left: 45%;
        background-color: red;
    }

    #btn:hover{
        background-color: rgba(255, 0, 0, 0.314);
    }
    
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 40px 0;
        background-color: black;
    }
    
    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: #fff;
    }
    
    .footer .social a {
        font-size: 24px;
        color: #fff;
        border: 2px solid rgb(0, 238, 255);
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        box-shadow: inset 0 0 10px rgb(0, 238, 255), 0 0 10px rgb(0, 238, 255);
        transition: 0.3s ease;
    }
    
    .footer .social a:hover {
        transform: scale(1.2)translatey(-10px);
        color: rgb(0, 238, 255);
        border: 2px solid rgb(0, 238, 255);
    }
    
    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    .footer ul {
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }
    
    .footer ul li a {
        color: #fff;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }
    
    .footer ul li a:hover {
        border-bottom: 3px solid rgb(0, 238, 255);
    }

}